.Container1{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    height:100%;
    background-color:white
}
#MENU{
    height:50px;
    width:200px;
    font-size: 30px;
    font-weight: bold;
    color:white;
    border:5px solid white;
    background-color: rgb(197,42,127);
}
#head{
    text-align: center;
    font-size: 60px;
}
#intro{
    color:rgb(106, 21, 202);
    font-size: 50px;
}
#header1{
    background-color: rgb(23,169,236);
    border-radius: 5px;
    border:5px solid white;
    font-size: 25px;
    font-weight: bold;
    width:100%;
    align-content: center;
    color:white;
    font-style: italic;
}