.container{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:white;
}
#header{
    font-size: 30px;
    border:5px solid white;
    color:white;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    height:2.5em;
    width:100%;
    background-color:rgb(23, 169, 236);
}
h3{
    font-size: 3em;
    color:black;
    font-weight: bold;
}
.button{
    width:150px;
    height:50px;
    margin:auto;
    font-size: 30px;
    color:white;
    margin:50px;
    background-color: rgb(23, 169, 236);
    align-content: center;
    justify-content:center;
}
.Email{
    font-size:30px;
    font-weight: bold;
    color:black;
}
.Password{
    font-size:30px;
    font-weight: bold;
    color:black
}
input{
    width:100%;
}
.FORM{
    display: flex;
    flex-direction: column;
    margin:auto;
    align-self: center;
    justify-content: space-between;
    width:50%;
    padding:50px;
}
.form{
    margin:auto;
    width:100%;
    height:100%;
    border:5px solid rgb(23, 169, 236);
    box-shadow: 15px 20px 5px grey;
    border-radius:50px;
}
.Logo1{
    height:65px;
    width:65px;
}
.Logo2{
    height:65px;
    width:65px;
}